
  <div ng-show="errors">
    <div id="error_explanation">
      <h2><ng-pluralize count="errors.full_messages.length"
      when="{'1': '1 error', 'other': '{} errors'}"></ng-pluralize>
      prohibited this project from being saved:</h2>
      <ul>
        <li ng-repeat="msg in errors.full_messages">{{msg}}</li>
      </ul>
    </div>
  </div>

  <div class="field">
    <div class="{{errors.ui_class.name}}"><label
           for="project_name">Name</label></div>
    <div class="{{errors.ui_class.name}}"><input
      ng-model="project.name" size="30" /></div>
  </div>
  <div class="field">
    <div class="{{errors.ui_class.description}}"><label
           for="project_description">Description</label></div>
    <div class="{{errors.ui_class.description}}"><input
      ng-model="project.description" size="30" /></div>
  </div>
  <div class="field">
    <div class="{{errors.ui_class.headcount}}"><label
           for="project_headcount">Headcount</label></div>
    <div class="{{errors.ui_class.headcount}}"><input
      ng-model="project.headcount" type="number" /></div>
  </div>
  <div class="field">
    <div class="{{errors.ui_class.owner_id}}"><label
           for="project_owner_id">Owner</label></div>
    <div class="{{errors.ui_class.owner_id}}"><input
      ng-model="project.owner_id" type="number" /></div>
  </div>

  <div class="actions">
    <input ng-click="submit()" type="submit" value="{{action}} Project" />
  </div>

